src/main/app/order-system.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="processOrders">
        <set-variable variableName="orders" value="#[payload]" doc:name="Variable"/>
        <set-payload value="#[{'international': java.util.Map&lt;String,String&gt;[], 'domestic': java.util.Map&lt;String,String&gt;[]}]" doc:name="Set Payload"/>
        <expression-component doc:name="Expression"><![CDATA[ for (order : flowVars.'orders')  
{ if (order.location == 'international') {payload.'international'.add(order);} 	
else 
{payload.'domestic'.add(order)}								
}	]]></expression-component>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>
